.singleQuote {
    margin-bottom: 30px;
    background: #ffffff;
    width: 29%;
    box-shadow: 13px 13px 17px 0 rgba(50, 50, 50, 0.75);
}

.quoteText {
    height: 250px;
    background: url("../../bg.jpg") no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.text {
    margin: 0;
    font-size: 25px;
    font-style: italic;
}

.btnEdit {
    width: 100%;
    color: white;
    background: #000;
    padding: 15px;
    text-align: center;
}

.btnLink {
    color: #e7bc07;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.btnLink:hover {
    color: white;
}